#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainPage{
  flex-grow: 1;
}

span{
  color: red;
}

#descripcion{
  height: 150px;
  resize: none;
}

.imgPelicula{
  width: 50%;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .imgPelicula{
    width: 60% !important;
  }
}

@media screen and (min-width: 768px) {
  .imgPelicula{
    width: 70% !important;
  }
}